---
# 
vault_netapp_admin_password: CHANGEME

vault_netapp_license_keys:
  - LICENSEKEY1XCFABGAAAAAAAAAAA
  - LICENSEKEY2XCFABGAAAAAAAAAAA
  - LICENSEKEY3XCFABGAAAAAAAAAAA
  - LICENSEKEY4XCFABGAAAAAAAAAAA

...
